.login-card {
  background-color: #f1f1f1;
  width: 500px;
  border-radius: 5px;
  padding: 25px;
  width: 300px;
  height: 425px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  div {
    padding: 5px;
    width: 100%;
    input {
      width: 100%;
      font-size: 25px;
    }
    .btn {
      font-size: 20px
    }
  }

}
